In [1]:
import pandas as pd

In [2]:
# Load the data
df_f = pd.read_csv('../TLAB 2 PHASE 2/PS_20174392719_1491204439457_log.csv')

randomsample= df_f.sample(n=500000)

In [15]:
randomsample

<bound method DataFrame.drop of          step      type     amount     nameOrig  oldbalanceOrg  \
5335874   374  CASH_OUT   71190.61   C214896783           0.00
1144634   131   PAYMENT    6747.89    C13766916      155186.00
3522512   259  CASH_OUT   82181.53  C2124479208       49535.00
2362785   190   PAYMENT    3499.33  C1203399871           0.00
5950347   405   PAYMENT    8395.20  C1138721157       60696.00
...       ...       ...        ...          ...            ...
1835734   163   PAYMENT    4635.68   C885735345       54568.00
2087457   182   PAYMENT    8630.83  C1763270325      731200.45
2888897   228   CASH_IN  109668.13   C769541611     6636116.95
941356     43  CASH_OUT  140038.00  C1966660707       16487.46
1205243   133   PAYMENT    2785.87  C1608175630           0.00

         newbalanceOrig     nameDest  oldbalanceDest  newbalanceDest  isFraud  \
5335874            0.00  C1034533773       997324.24      1068514.84        0
1144634       148438.11   M770732134            0.00            0.00        0
3522512            0.00  C2011412389       676838.47       759020.00        0
2362785            0.00  M1796813086            0.00            0.00        0
5950347        52300.80   M729676472            0.00            0.00        0
...                 ...          ...             ...             ...      ...
1835734        49932.32   M566009869            0.00            0.00        0
2087457       722569.62   M156436809            0.00            0.00        0
2888897      6745785.08     C6661079       478405.37       368737.24        0
941356             0.00   C112354625       911507.12      1051545.12        0
1205243            0.00  M1656957810            0.00            0.00        0

         isFlaggedFraud
5335874               0
1144634               0
3522512               0
2362785               0
5950347               0
...                 ...
1835734               0
2087457               0
2888897               0
941356                0
1205243               0

[500000 rows x 11 columns]>

In [24]:
#  We already checked for null values in initial EDA, so Lets drop "isFlaggedFraud" as it is redundant with "is Fraud"
# Lets drop "nameOrig" as there it doesn't indicate a correlation between target variable
# Lets drop "nameDest" as there it doesn't indicate a correlation between target variable
randomsample= df_f.drop(["isFlaggedFraud","nameOrig","nameDest" ], axis=1, inplace= False)

In [25]:
randomsample

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud
0,1,PAYMENT,9839.64,170136.00,160296.36,0.00,0.00,0
1,1,PAYMENT,1864.28,21249.00,19384.72,0.00,0.00,0
2,1,TRANSFER,181.00,181.00,0.00,0.00,0.00,1
3,1,CASH_OUT,181.00,181.00,0.00,21182.00,0.00,1
4,1,PAYMENT,11668.14,41554.00,29885.86,0.00,0.00,0
...,...,...,...,...,...,...,...,...
6362615,743,CASH_OUT,339682.13,339682.13,0.00,0.00,339682.13,1
6362616,743,TRANSFER,6311409.28,6311409.28,0.00,0.00,0.00,1
6362617,743,CASH_OUT,6311409.28,6311409.28,0.00,68488.84,6379898.11,1
6362618,743,TRANSFER,850002.52,850002.52,0.00,0.00,0.00,1
6362619,743,CASH_OUT,850002.52,850002.52,0.00,6510099.11,7360101.63,1

In [28]:
#Creating a list of unique values for dummy encoding
transaction_type = set(type for type in randomsample['type'])
print(transaction_type)

{'PAYMENT', 'CASH_IN', 'CASH_OUT', 'DEBIT', 'TRANSFER'}

In [32]:
# create a boolean and forloop for "type" as random classifier computes integers
for type in transaction_type:
    randomsample [type] = randomsample['type'].apply(lambda x: 1 if type in x else 0)

In [35]:
randomsample.head()

,step,type,amount,oldbalanceOrg,newbalanceOrig,oldbalanceDest,newbalanceDest,isFraud,PAYMENT,CASH_IN,CASH_OUT,DEBIT,TRANSFER
0,1,PAYMENT,9839.64,170136.0,160296.36,0.0,0.0,0,1,0,0,0,0
1,1,PAYMENT,1864.28,21249.0,19384.72,0.0,0.0,0,1,0,0,0,0
2,1,TRANSFER,181.00,181.0,0.00,0.0,0.0,1,0,0,0,0,1
3,1,CASH_OUT,181.00,181.0,0.00,21182.0,0.0,1,0,0,1,0,0
4,1,PAYMENT,11668.14,41554.0,29885.86,0.0,0.0,0,1,0,0,0,0

In [36]:
# As there aren't any null values or incorrectly formatted data we will go ahead and save this dataframe as a new csv file to be used in the next step.

randomsample.to_csv("../TLAB 2 PHASE 2/newdata.csv", index=False)